{% extends 'admins/base.html' %}

{% block content %}
<div class="container mt-5 ">
    <div class="d-flex justify-content-center">
    <table class="table  ">
        <thead>
            <tr>
                <th scope="col" class=" w-50">Name</th>
                <th scope="col" class="text-center w-50">Actions</th>
            </tr>
        </thead>
        <tbody>
            
            {% if object_list %}
            {% for item in object_list %}
                <tr>
                {% if item.name %}
                <td class="align-middle">{{ item.name }}</td>
                {% endif %}
                {% if  item.room_number %}
                <td class="align-middle">{{ item.room_number }}</td>    
                {% endif %}
                {% if item.username %}
                <td class="align-middle">{{ item.username }}</td>
                {% endif %}
                {% if item.room.room_number %}
                <td class="align-middle">Room &ensp;{{ item.room.room_number }}</td>
                {% endif %}
                {% if item.booking.room.room_number %}
                <td class="align-middle">Room &ensp;{{ item.booking.room.room_number }}</td>
                {% endif %}
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            {% if request.resolver_match.url_name != 'booking_list' and request.resolver_match.url_name != 'payment_list' %}
                            <!-- Edit button -->
                            <a href="{% url update_url item.id %}" class="btn btn-link text-primary"><span class="material-symbols-outlined">
                                edit_note
                                </span></a>
                                {% endif %}
                
                            {% if detail_url %}
                            <!-- View button -->
                            <a href="{% url detail_url item.id %}" class="btn btn-link text-warning"><span class="material-symbols-outlined">
                                info
                                </span></a>
                            {% endif %}
                            <form action="{% url delete_url item.id %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link text-danger"><span class="material-symbols-outlined">
                                    delete_forever
                                    </span></button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="2" class="text-center text-danger">No data available</td>  
            </tr>
            {% endif %}
        </tbody>
    </table>
    
</div>
{% if request.resolver_match.url_name != 'booking_list' and request.resolver_match.url_name != 'payment_list' %}
<div class="d-flex justify-content-center">
    <a href="{% url create_url %}" class="btn  btn-success w-25 mt-5">Create</a>
</div>
{% endif %}
    
    
</div>
{% endblock content %}
