{% extends 'admins/base.html' %}

{% block content %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<style>
    #container {
        width: 100%;
        height: 400px;
        margin: 0 auto;
    }
    .highcharts-data-table table {
        font-family: 'Montserrat', sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    .highcharts-data-table table, .highcharts-data-table th, .highcharts-data-table td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    .highcharts-data-table th {
        background-color: #f2f2f2;
        text-align: left;
    }
</style>

<div class="container-fluid">
    <div class="card m-3 p-2 bg-warning shadow-sm d-flex justify-content-center">
        <h4 class="text-center"><strong>Room Stats</strong></h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="mt-3 card shadow-sm">
                <div id="roomTypePopularityChart"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mt-3 card shadow-sm">
                <div id="revenueByRoomTypeChart"></div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card m-3 p-2 bg-warning shadow-sm d-flex justify-content-center">
        <h4 class="text-center"><strong>Membership Stats</strong></h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="mt-3 card shadow-sm">
                <div id="membershipPlanPopularityChart"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mt-3 card shadow-sm">
                <div id="revenueByMembershipPlanChart"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="mt-3 card shadow-sm">
                <div id="membershipStatusDistributionChart"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mt-3 card shadow-sm">
                <div id="paymentMethodUsageChart"></div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card m-3  p-2 bg-warning shadow-sm d-flex justify-content-center">
        <h4 class="text-center"><strong>Hall Stats</strong></h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="mt-3 card shadow-sm">
                <div id="hallCategoryPopularityChart"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mt-3 card shadow-sm">
                <div id="revenueByHallCategoryChart"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="mt-3 card shadow-sm">
                <div id="hallBookingStatusDistributionChart"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mt-3 card shadow-sm">
                <div id="hallPaymentMethodUsageChart"></div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card m-3 bg-warning p-2 shadow-sm d-flex justify-content-center">
        <h4 class="text-center"><strong>User Stats</strong></h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="mt-3 card shadow-sm">
                <div id="userRolesDistributionChart"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mt-3 card shadow-sm">
                <div id="recentUsersChart"></div>
            </div>
        </div>
    </div>
</div>

<script>
    Highcharts.setOptions({
        colors: ['#FFD700', '#000000'],
        chart: {
            style: {
                fontFamily: 'Montserrat',
                fontWeight: 'bold'}
        },
        exporting: {
            enabled: true,
            buttons: {
                contextButton: {
                    menuItems: ['viewTable']
                }
            }
        },
        accessibility: {
            enabled: true
        }
    });

    // Room Type Popularity Chart
    Highcharts.chart('roomTypePopularityChart', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Room Type Popularity'
        },
        xAxis: {
            type: 'category',
            title: {
                text: 'Room Type'
            }
        },
        plotOptions: {
        bar: {
            borderRadius: 10
        }
    },
        series: [{
            name: 'Bookings',
            data: {{ room_type_popularity_data|safe }}
        }]
    });

    // Revenue by Room Type Chart
    Highcharts.chart('revenueByRoomTypeChart', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Revenue by Room Type'
        },
        xAxis: {
            type: 'category',
            title: {
                text: 'Room Type'
            }
        },
        plotOptions: {
        bar: {
            borderRadius: 10
        }
    },
        series: [{
            name: 'Revenue',
            data: {{ revenue_by_room_type_data|safe }}
        }]
    });

    // Membership Plan Popularity Chart
    Highcharts.chart('membershipPlanPopularityChart', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Membership Plan Popularity'
        },
        xAxis: {
            type: 'category',
            title: {
                text: 'Membership Plan'
            }
        },
        plotOptions: {
        bar: {
            borderRadius: 20
        }
    },
        series: [{
            name: 'Subscriptions',
            data: {{ membership_plan_popularity_data|safe }}
        }]
    });

    // Revenue by Membership Plan Chart
    Highcharts.chart('revenueByMembershipPlanChart', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Revenue by Membership Plan'
        },
        xAxis: {
            type: 'category',
            title: {
                text: 'Membership Plan'
            }
        },
        plotOptions: {
        bar: {
            borderRadius: 20
        }
    },
        series: [{
            name: 'Revenue',
            data: {{ revenue_by_membership_plan_data|safe }}
        }]
    });

    // Membership Status Distribution Chart
    Highcharts.chart('membershipStatusDistributionChart', {
        chart: {
            type: 'pie'
        },
        title: {
            text: 'Membership Status Distribution'
        },
        series: [{
            name: 'Memberships',
            data: {{ membership_status_distribution_data|safe }}
        }]
    });

    // Payment Method Usage Chart
    Highcharts.chart('paymentMethodUsageChart', {
        chart: {
            type: 'pie'
        },
        title: {
            text: 'Payment Method Usage'
        },
        series: [{
            name: 'Payments',
            data: {{ payment_method_usage_data|safe }}
        }]
    });

    // Hall Category Popularity Chart
    Highcharts.chart('hallCategoryPopularityChart', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Hall Category Popularity'
        },
        xAxis: {
            type: 'category',
            title: {
                text: 'Hall Category'
            }
        },
        plotOptions: {
        bar: {
            borderRadius: 30
        }
    },
        series: [{
            name: 'Bookings',
            data: {{ hall_category_popularity_data|safe }}
        }]
    });

    // Revenue by Hall Category Chart
    Highcharts.chart('revenueByHallCategoryChart', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Revenue by Hall Category'
        },
        xAxis: {
            type: 'category',
            title: {
                text: 'Hall Category'
            }
        },
        plotOptions: {
        bar: {
            borderRadius: 100
        }
    },
        series: [{
            name: 'Revenue',
            data: {{ revenue_by_hall_category_data|safe }}
        }]
    });

    // Hall Booking Status Distribution Chart
    Highcharts.chart('hallBookingStatusDistributionChart', {
        chart: {
            type: 'pie'
        },
        title: {
            text: 'Hall Booking Status Distribution'
        },
        series: [{
            name: 'Bookings',
            data: {{ hall_booking_status_distribution_data|safe }}
        }]
    });

    // Hall Payment Method Usage Chart
    Highcharts.chart('hallPaymentMethodUsageChart', {
        chart: {
            type: 'pie'
        },
        title: {
            text: 'Hall Payment Method Usage'
        },
        series: [{
            name: 'Payments',
            data: {{ hall_payment_method_usage_data|safe }}
        }]
    });

    // User Roles Distribution Chart
    Highcharts.chart('userRolesDistributionChart', {
        chart: {
            type: 'pie'
        },
        title: {
            text: 'User Roles Distribution'
        },
        series: [{
            name: 'Users',
            data: {{ user_roles_distribution_data|safe }}
        }]
    });

    // Recent Users Chart
    Highcharts.chart('recentUsersChart', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Recent User Activity'
        },
        xAxis: {
            type: 'datetime',
            title: {
                text: 'Date'
            }
        },
        plotOptions: {
        column: {
            borderRadius: 30 
        }
    },
        series: [{
            name: 'Last Login',
            data: {{ recent_users_data|safe }}
        }]
    });
</script>

{% endblock %}
