{% extends 'admins/base.html' %}

{% block content %}
<script src="https://code.highcharts.com/highcharts.js"></script>

<style>
    #container {
        width: 100%;
        height: 400px;
        margin: 0 auto;
    }
</style>

<div id="roomTypePopularityChart"></div>
<div id="revenueByRoomTypeChart"></div>
<script>
    Highcharts.setOptions({
        colors: ['#FFD700', '#000000']
    });

    // Room Type Popularity Chart
    Highcharts.chart('roomTypePopularityChart', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Room Type Popularity'
        },
        xAxis: {
            type: 'category',
            title: {
                text: 'Room Type'
            }
        },
        series: [{
            name: 'Bookings',
            data: {{ room_type_popularity_data|safe }}
        }]
    });

    // Revenue by Room Type Chart
    Highcharts.chart('revenueByRoomTypeChart', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Revenue by Room Type'
        },
        xAxis: {
            type: 'category',
            title: {
                text: 'Room Type'
            }
        },
        series: [{
            name: 'Revenue',
            data: {{ revenue_by_room_type_data|safe }}
        }]
    });
</script>
{% endblock %}
