{% extends 'admins/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg rounded w-75 mx-auto">
        <div class="card-body ">
            <h5 class="card-title  text-center mb-3 mt-3"><strong>Select Payment Method</strong></h5>
            <ul class="list-group list-group-flush mt-3">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <strong>Hall Name</strong>
                    <span>{{ hall_booking.hall.hall_type }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <strong>Hall Name</strong>
                    <span>{{ hall_booking.hall.hall_number }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <strong>User</strong>
                    <span>{{ hall_booking.full_name }}</span>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <strong>Booking ID</strong>
                    <span>{{ hall_booking.id }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <strong>Amount Due</strong>
                    <span>{{ hall_booking.amount_due }} ETB</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <strong>Booking Status</strong>
                    <span>{{ hall_booking.status }}</span>
                </li>
            </ul>
            <form method="post" class="mt-4">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-4 w-50 mx-auto">
                        <label class="mb-3" for="{{ field.id_for_label }}"><strong>{{ field.label }}</strong></label>
                        {{ field|add_class:"form-control form-control-sm  rounded" }}
                        {% if field.errors %}
                            <div class="alert alert-danger mt-2">
                                {{ field.errors|first }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="d-flex justify-content-center mt-5">
                    <button type="submit" class="btn rounded btn-sm btn-success w-25">Confirm Payment</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
