{% extends 'accountss/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<br>
<div class="container mt-3">
    {% if messages %}
        <div class="container ">
            {% for message in messages %}
                <div class="alert alert-dismissible text-center mt-5 alert-{{ message.tags }} rounded">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
<br>
<div class="container mt-3">
    <h3 class="mb-3 text-center font-weight-bold">My Memberships</h3>
    <div class="row mt-5">
        {% for membership in memberships %}
            {% if not membership.status == 'cancelled' %}
                <div class="col-md-6 mb-4">
                    <div class="card shadow rounded">
                        <div class="card-body">
                            <h4 class="card-title font-weight-bold">{{ membership.plan.name }}</h4>
                            <p class="card-text small">{{ membership.plan.description }}</p>
                            <div class="row mb-2">
                                <div class="col-sm-5 text-left"><strong>Start Date</strong></div>
                                <div class="col-sm-7 text-center">{{ membership.start_date }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-5 text-left"><strong>End Date</strong></div>
                                <div class="col-sm-7 text-center">{{ membership.end_date }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-5 text-left"><strong>Status</strong></div>
                                <div class="col-sm-7 text-center">{{ membership.get_status_display }}</div>
                            </div>
                            {% if membership.for_first_name %}
                                <div class="row mb-2">
                                    <div class="col-sm-5 text-left"><strong>For</strong></div>
                                    <div class="col-sm-7 text-center">{{ membership.for_first_name }} {{ membership.for_last_name }}</div>
                                </div>
                                {% else %}
                                <div class="row mb-2">
                                    <div class="col-sm-5 text-left"><strong>For</strong></div>
                                    <div class="col-sm-7 text-center">{{ membership.user.first_name }} {{ membership.user.last_name }}</div>
                                </div>        
                            {% endif %}
                            <div class="d-flex justify-content-center mt-3">
                                {% if membership.status == 'pending' %}
                                    <a href="{% url 'membership_signup' membership.plan.id %}?membership_id={{ membership.id }}&start_date={{ membership.start_date|date:'Y-m-d' }}" class="btn btn-sm btn-success rounded btn-primary">Pay</a>
                                {% endif %}
                                <button type="button" class="btn btn-sm btn-danger rounded ml-2" data-toggle="modal" data-target="#cancelModal{{ membership.id }}">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- The Modal -->
                <div class="modal rounded fade " id="cancelModal{{ membership.id }}" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel{{ membership.id }}" aria-hidden="true">
                    <div class="modal-dialog rounded" role="document">
                        <div class="modal-content rounded">
                            <!-- Modal Header -->
                            <div class="modal-header border-0 rounded">
                                <h5 class="modal-title" id="cancelModalLabel{{ membership.id }}">Cancel Membership</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body border-0 rounded ">
                                Are you sure you want to cancel your membership?
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer border-0 rounded ">
                                <form method="post" action="{% url 'cancel_membership' membership.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm rounded btn-danger">Confirm</button>
                                </form>
                                <button type="button" class="btn btn-sm rounded btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        {% if memberships|ifnotcancelled == 0 %}
            <div class="container d-flex justify-content-center">
                <div class="alert alert-warning rounded mt-3" role="alert">
                    <h6 class="text-center"><i class="bi bi-info-circle"></i>&ensp;No Active Memberships</h6>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
