{% extends 'accountss/base.html' %}
{% load static %}
 

{% block content %}
  

  
  <!-- Image Slider -->

  <div class="carousel slide carousel-fade carousel-fullscreen" id="featured" data-ride="carousel">

    <ul class="carousel-indicators">
      <li data-target="#featured" data-slide-to="0" class="active"></li>
      <li data-target="#featured" data-slide-to="1"></li>
      <li data-target="#featured" data-slide-to="2"></li>
    </ul>

    <div class="carousel-inner">

      <div class="carousel-item active slide-1">
        <div class="overlay"></div>
        <img src="{% static 'images/beach.jpg' %}" class="img-fluid" alt="First slide">
        <div class="carousel-caption">
          <h2>Welcome to ADAR Hotel</h2>
          <p class="pt-3">Where Ethiopian tradition meets modern luxury. Experience unparalleled hospitality in the heart of Addis Ababa</p>
        </div>
      </div>

      <div class="carousel-item slide-2">
        <div class="overlay"></div>
        <img src="{% static 'images/lobby.jpg' %}" class="img-fluid" alt="second slide">
        <div class="carousel-caption">
          <h2>Enjoy Luxury Experience</h2>
          <p class=" pt-3">Experience the warmth of Ethiopian hospitality. Unwind in luxury, right in the heart of Addis Ababa.
            </p>
        </div>
      </div>

      <div class="carousel-item slide-3">
        <div class="overlay"></div>
        <img src="{% static 'images/lobby2.jpg' %}" class="img-fluid" alt="third slide">
        <div class="carousel-caption">
          <h2>A Place to Stay and Relax</h2>
          <p class="pt-3">A gateway to Ethiopia's vibrant heritage and modern comforts. Your exceptional journey begins here</p>
        </div>
      </div>

    </div><!-- carousel-inner -->

    
  </div> <!-- carousel -->

  <!-- End of Image Slider -->

  <!-- About -->

  <div class="container">
    <div class="row py-5">

      <div class="col-md-6 d-block-sm pb-4">
        <h2>About Us</h2>
        <p class="text-justify">Nestled in the heart of Addis Ababa, Adar Hotel offers a perfect blend of modern luxury and traditional Ethiopian charm. Our hotel provides comfortable and elegantly furnished rooms, exceptional dining experiences, and top-notch amenities to ensure a memorable stay. Conveniently located close to major attractions and business districts, Adar Hotel is ideal for both leisure and business travelers. Enjoy warm hospitality and a serene atmosphere, making Adar Hotel your home away from home in Ethiopia's vibrant capital.</p>
        <div>
          <a href="{% url 'about'%}" class="btn btn-sm btn-primary rounded rounded pb-1 active" role="button" aria-pressed="true">Read
            more</a>
        </div>
      </div>

      <div class="col-md-6 d-block-sm">
        <img class="w-100 rounded" src="{% static 'images/hotel-indoors.jpg' %}" alt="Hotel lobby">
      </div>

    </div> <!-- row -->
  </div> <!-- container -->

  <!-- End of About -->

  <!-- Rooms -->

  {% if rooms %}
  <div class="container">
    <h2 class="text-center">Our Rooms</h2>
    <div class="row">
      {% for room in rooms %}
      <div class="col-md-6 border-0 d-block-sm p-5 mb-4 d-flex flex-column">
          <img src="{{ room.room_image.url }}" alt="{{ room.room_type.name }}" class="img-fluid rounded">  
          <h3><strong>{{ room.room_type.name}} Suite</strong></h3>
        <p class="">{{ room.description|truncatewords:20 }}</p>
        <p><strong> Room Number</strong>&ensp; {{ room.room_number }}</p>
          <p><strong>Price per night</strong>&ensp; ETB {{ room.price_per_night }}</p>
          <p><strong>Capacity</strong>&ensp; {{ room.capacity }} guests</p>
  
          <div class="mt-auto d-flex justify-content-center">
              <a href="{% url 'room_detail' room.id %}" class="btn btn-sm btn-warning pb-1 w-25 my-4 text-uppercase rounded">Details</a>&ensp;
              <a href="{% url 'booking_create' room.id %}" class="btn btn-sm btn-success pb-1 w-25 my-4 text-uppercase rounded">Book</a>
          </div>
      </div>
  {% endfor %}
    </div>
  </div>
  
    <!-- Rooms Listing code here -->
  {% else %}
  
  <div class="alert-danger text-center d-flex justify-content-center m-3">
    <h5 class="m-3">No rooms available.</h5>
  </div>
    {% endif %}
  

  <!-- End of Rooms -->

  <div class="container my-5">
    <h2 class="text-center mb-5">Attractions in Addis</h2>
    <div class="row">
        <!-- Attraction 1: Entoto Hill -->
        <div class="col-md-4">
            <div class="card  rounded border-0 mb-4">
                <img src="{% static 'images/entoto.jpg' %}" style="width: 400;height: 270px;" class="card-img-top rounded" alt="Entoto Hill">
                <div class="card-body">
                    <h5 class="card-title">Entoto Hill</h5>
                    <p class="card-text">Experience breathtaking views of Addis Ababa from Entoto Hill, a historic site with significant religious landmarks and natural beauty.</p>
                    <a href="https://www.google.com/maps/dir/?api=1&destination=Entoto+Hill,+Addis+Ababa,+Ethiopia" class="btn btn-sm rounded btn-primary" target="_blank"><i class="bi bi-map"></i> Get Directions</a>
                </div>
            </div>
        </div>
        <!-- Attraction 2: Adwa Museum -->
        <div class="col-md-4">
            <div class="card rounded border-0 mb-4">
                <img src="{% static 'images/adwa.png' %}" style="width: 400;height: 270px;" class="card-img-top rounded" alt="Adwa Museum">
                <div class="card-body">
                    <h5 class="card-title">Adwa Museum</h5>
                    <p class="card-text">Visit the Adwa Museum to learn about the historic Battle of Adwa and the enduring legacy of Ethiopian resistance and independence.</p>
                    <a href="https://www.google.com/maps/dir/?api=1&destination=Adwa+Museum,+Addis+Ababa,+Ethiopia" class="btn btn-sm rounded btn-primary" target="_blank"><i class="bi bi-map"></i> Get Directions</a>
                </div>
            </div>
        </div>
        <!-- Attraction 3: Friendship Park -->
        <div class="col-md-4">
            <div class="card border-0 rounded mb-4">
                <img src="{% static 'images/friendship.webp' %}" style="width: 400;height: 270px;" class="card-img-top rounded" alt="Friendship Park">
                <div class="card-body">
                    <h5 class="card-title">Friendship Park</h5>
                    <p class="card-text">Relax and enjoy the serene environment of Friendship Park, a beautifully landscaped green space perfect for leisure and recreation.</p>
                    <a href="https://www.google.com/maps/dir/?api=1&destination=Friendship+Park,+Addis+Ababa,+Ethiopia" class="btn btn-sm btn-primary rounded" target="_blank"><i class="bi bi-map"></i> Get Directions</a>
                </div>
            </div>
        </div>
    </div>
</div>
  {% endblock content %}
  