{% extends 'accountss/base.html' %}
{% load static %}
 

{% block content %}
  

  
  <!-- Image Slider -->

  <div class="carousel slide carousel-fade carousel-fullscreen" id="featured" data-ride="carousel">

    <ul class="carousel-indicators">
      <li data-target="#featured" data-slide-to="0" class="active"></li>
      <li data-target="#featured" data-slide-to="1"></li>
      <li data-target="#featured" data-slide-to="2"></li>
    </ul>

    <div class="carousel-inner">

      <div class="carousel-item active slide-1">
        <div class="overlay"></div>
        <div class="carousel-caption">
          <h2>Welcome to ADAR Hotel</h2>
          <p class="pt-3">Where Ethiopian tradition meets modern luxury. Experience unparalleled hospitality in the heart of Addis Ababa</p>
        </div>
      </div>

      <div class="carousel-item slide-2">
        <div class="overlay"></div>
        <div class="carousel-caption">
          <h2>Enjoy Luxury Experience</h2>
          <p class=" pt-3">Experience the warmth of Ethiopian hospitality. Unwind in luxury, right in the heart of Addis Ababa.
            </p>
        </div>
      </div>

      <div class="carousel-item slide-3">
        <div class="overlay"></div>
        <div class="carousel-caption">
          <h2>A Place to Stay and Relax</h2>
          <p class="pt-3">A gateway to Ethiopia's vibrant heritage and modern comforts. Your exceptional journey begins here</p>
        </div>
      </div>

    </div><!-- carousel-inner -->

    <a class="carousel-control-prev" href="#featured" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true">
        <span class="sr-only">Previous</span>
      </span>
    </a>

    <a class="carousel-control-next" href="#featured" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true">
        <span class="sr-only">Next</span>
      </span>
    </a>

  </div> <!-- carousel -->

  <!-- End of Image Slider -->

  <!-- About -->

  <div class="container">
    <div class="row py-5">

      <div class="col-md-4 d-block-sm pb-4">
        <h2>About Us</h2>
        <p class="">Nestled in the heart of Addis Ababa, Adar Hotel offers a perfect blend of modern luxury and traditional Ethiopian charm. Our hotel provides comfortable and elegantly furnished rooms, exceptional dining experiences, and top-notch amenities to ensure a memorable stay. Conveniently located close to major attractions and business districts, Adar Hotel is ideal for both leisure and business travelers. Enjoy warm hospitality and a serene atmosphere, making Adar Hotel your home away from home in Ethiopia's vibrant capital.</p>
        <div>
          <a href="{% url 'about'%}" class="btn btn-sm btn-primary rounded rounded pb-1 active" role="button" aria-pressed="true">Read
            more</a>
        </div>
      </div>

      <div class="col-md-8 d-block-sm">
        <img class="w-100 rounded" src="{% static 'images/hotel-indoors.jpg' %}" alt="Hotel lobby">
      </div>

    </div> <!-- row -->
  </div> <!-- container -->

  <!-- End of About -->

  <!-- Rooms -->

  {% if rooms %}
  <div class="container">
    <h2 class="text-center">Our Rooms</h2>
    <div class="row">
      {% for room in rooms %}
      <div class="col-md-6 border-0 d-block-sm p-5 mb-4 d-flex flex-column">
          <img src="{{ room.room_image.url }}" alt="{{ room.room_type.name }}" class="img-fluid rounded">  
          <h3><strong>{{ room.room_type.name}} Suite</strong></h3>
        <p class="">{{ room.description|truncatewords:20 }}</p>
        <p><strong> Room Number</strong>&ensp; {{ room.room_number }}</p>
          <p><strong>Price per night</strong>&ensp; ETB {{ room.price_per_night }}</p>
          <p><strong>Capacity</strong>&ensp; {{ room.capacity }} guests</p>
  
          <div class="mt-auto d-flex justify-content-center">
              <a href="{% url 'room_detail' room.id %}" class="btn btn-sm btn-warning pb-1 w-50 my-4 text-uppercase rounded">Details</a>&ensp;
              <a href="{% url 'booking_create' room.id %}" class="btn btn-sm btn-success pb-1 w-50 my-4 text-uppercase rounded">Book now</a>
          </div>
      </div>
  {% endfor %}
    </div>
  </div>
  
    <!-- Rooms Listing code here -->
  {% else %}
  
  <div class="alert-danger text-center d-flex justify-content-center m-3">
    <h5 class="m-3">No rooms available.</h5>
  </div>
    {% endif %}
  

  <!-- End of Rooms -->

  <!-- Blog -->
  <div class="container">
    <div class="row">

      <h2 class="col-sm-12 text-center py-5">Blog</h2>

      <div class="col-md-4">
        <section class="mb-5">
          <img class="img-fluid" src="{% static 'images/hotel-indoors.jpg' %}" alt="Hotel indoors">
          <h3 class="blog-title py-2">Our Strategy for Tomorrow</h3>
          <p class="py-2">Vivamus eget feugiat mauris suspendisse lacus dolor, feugiat quis consectetur ut, finibus at
            lorem
            phasellus.</p>
          <div>
            <a href="blog-article.html" class="btn btn-primary text-uppercase pb-2 active" role="button"
              aria-pressed="true">Read
              more</a>
          </div>
        </section>
      </div>

      <div class="col-md-4">
        <section class="mb-5">
          <img class="img-fluid" src="images/hotel-restaurant.jpg" alt="Hotel restaurant">
          <h3 class="blog-title py-2">Fresh and Delicious Food</h3>
          <p class="py-2">Aliquam bibendum augue aliquam, bibendum orci at, accumsan dui sed lorem neque, hendrerit eget
            iaculis.
          </p>
          <div>
            <a href="blog-article.html" class="btn btn-primary text-uppercase pb-2 active" role="button"
              aria-pressed="true">Read
              more</a>
          </div>
        </section>
      </div>

      <div class="col-md-4">
        <section class="mb-5">
          <img class="img-fluid" src="images/hotel-bar.jpg" alt="Hotel bar">
          <h3 class="blog-title py-2">Hotel Restaurant and Bar</h3>
          <p class="py-2">Donec in odio libero proin vulputate urna ut libero auctor ornare. Orci varius natoque
            penatibus.</p>
          <div>
            <a href="blog-article.html" class="btn btn-primary text-uppercase pb-2 active" role="button"
              aria-pressed="true">Read
              more</a>
          </div>
        </section>
      </div>

    </div><!-- row -->
  </div> <!-- container -->

  <!-- End of Blog -->

  {% endblock content %}
  