{% extends "accountss/base.html" %}


{% block content %}
<br>
<h3 class="mt-5 mb-3 text-center font-weight-bold">Available Halls</h3>
<div class="container d-flex justify-content-center">
    <div class="row">
    {% for hall in object_list %}
    <div class="col-lg-6">
    <div class="card shadow-lg mb-4 rounded ">
        <img src="{{hall.image.url}}" alt="" class="card-img-top rounded h-75">
        <div class="card-body">
        <a href="{% url 'hall_detail' hall.pk %}" class="font-weight-bold">{{ hall.hall_number }}<a/>
        <p>{{ hall.description|truncatewords:15 }}</p>
        <p>Price per day: ${{ hall.price_per_day }}</p>
        <p>Capacity: {{ hall.capacity }}</p>
        <p>Floor: {{ hall.floor }}</p>
        
    </div>
  </div>
</div>
{% endfor %}
</div>
</div>
{% endblock %}
